<div class="row">
    <div class="col-md-12 text-center">
        <a class="navbar-brand" asp-controller="EventCatalog" asp-action="Index">
            <img src="~/img/logo9.png" class="mr-3" />
        </a>
    </div>
</div>
